
th {
    width: 240px;
    background-color: rgb(97, 86, 249);
    color: gainsboro;
    font-size: larger;
    font-weight: 900;
}

td {
    text-align: center;
    color: dimgrey;
    font-weight: 500;
}

tr {
    height: 32px;
}

tr:nth-child(2n+1) {
    background-color:gainsboro;
}

tr:nth-child(2n) {
    background-color: rgb(172, 172, 237);
}

.transaction_history {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    max-width: 900px;
}